<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form method="post" action="/login">
      <!-- //if we dont't set the route in action then it will set the / route as
      default -->
      <h1>Login Now</h1>
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <button type="submit">Log In</button>
    </form>
    
  </body>
</html>
